/* Estilos existentes */

main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 4px;
}

.post {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
    display: none;
}

/* Estilo para o botão "Ver Mais" */

#load-more-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#load-more-btn:hover {
    background-color: #333;
}
